#confirmationModal {
  position: fixed;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
}
#confirmationModal button {
  font-size: 14pt;
  width: 80px;
  height: 40px;
  margin: 0 0 20px;
}
#confirmationModal button:first-of-type {
  margin-right: 5px;
  background-color: #81b3d6;
}
#confirmationModal button:nth-of-type(2) {
  margin-left: 5px;
}
#confirmationModal #text {
  position: relative;
  background-color: white;
  width: 300px;
  top: 100px;
  margin: auto;
  text-align: center;
  border: 3px #b7c4cc solid;
  border-radius: 25px;
}

#indexContent #left {
  width: 50vw;
  margin-top: 120px;
}
#indexContent #map {
  position: fixed;
  width: 50vw;
  height: calc(100vh - 50px);
  top: 50px;
  left: 50vw;
}
#indexContent #dateInput {
  display: block;
  margin: 20px auto;
  font-family: "Nunito", sans-serif;
  color: #272932;
  width: 150px;
  height: 30px;
}
#indexContent #dashboardOrdersForm,
#indexContent #dashboardDriversForm,
#indexContent #confirm {
  border: 2px #b7c4cc solid;
  border-radius: 25px 25px 0px 0px;
  width: calc(100% - 70px);
  max-width: 800px;
  margin: auto;
  padding: 0 15px 10px;
}
#indexContent #dashboardOrdersForm h1,
#indexContent #dashboardOrdersForm h2,
#indexContent #dashboardOrdersForm p,
#indexContent #dashboardDriversForm h1,
#indexContent #dashboardDriversForm h2,
#indexContent #dashboardDriversForm p,
#indexContent #confirm h1,
#indexContent #confirm h2,
#indexContent #confirm p {
  text-align: center;
}
#indexContent #dashboardOrdersForm h1,
#indexContent #dashboardDriversForm h1 {
  margin-top: 0px;
  background-color: #81b3d6;
  font-size: 19pt;
  font-weight: 500;
  width: 100%;
  color: #272932;
  font-weight: 600;
  padding: 5px 15px;
  margin-left: -15px;
}
#indexContent #dashboardOrdersForm h2,
#indexContent #dashboardDriversForm h2 {
  font-size: 15pt;
  font-weight: 500;
  margin: 0px auto 30px;
}
#indexContent #dashboardOrdersForm {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#indexContent #dashboardOrdersForm h1 {
  grid-column: 1/span 3;
  border-radius: 24px 24px 0px 0px;
  margin-bottom: 10px;
}
#indexContent #dashboardOrdersForm div {
  width: 1fr;
  border: #b7c4cc solid;
  border-width: 1px 0px 0px 0px;
}
#indexContent #dashboardOrdersForm div:nth-of-type(3n + 1) {
  border-width: 0px 1px 1px 0px;
}
#indexContent #dashboardOrdersForm div:nth-of-type(3n + 2) {
  border-width: 0px 0px 1px 0px;
}
#indexContent #dashboardOrdersForm div:nth-of-type(3n + 3) {
  border-width: 0px 0px 1px 1px;
}
#indexContent #dashboardOrdersForm div:last-of-type {
  border-width: 0px 1px 0px 0px;
}
#indexContent #dashboardDriversForm {
  margin-top: 10px;
  min-height: 200px;
  border-radius: 0px 0px 25px 25px;
}
#indexContent #dashboardDriversForm h1 {
  border-radius: 0px 0px 0px 0px;
}
#indexContent #confirm {
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 45px 1fr 1fr 50px;
}
#indexContent #confirm h1 {
  grid-column: 1/span 2;
  font-size: 19pt;
  margin: 0px;
  border-radius: 24px 24px 0px 0px;
  background-color: #81b3d6;
  padding: 5px 15px;
  margin-left: -15px;
  width: 100%;
}
#indexContent #confirm h2 {
  font-size: 15pt;
  font-weight: 500;
}
#indexContent #confirm h2,
#indexContent #confirm #selectedOrderP {
  grid-column: 1;
  grid-row: 2;
  text-align: center;
}
#indexContent #confirm h2:nth-of-type(2) {
  grid-column: 2;
}
#indexContent #confirm button {
  margin: auto;
  grid-row: 4;
  grid-column: 1/span 2;
}
#indexContent #confirm #selectedOrderP {
  grid-row: 3;
}
#indexContent #confirm #selectedDriverP {
  grid-column: 2;
  grid-row: 3;
  text-align: center;
}

#search_form {
  position: absolute;
  left: 350px;
  top: 80px;
  color: #456D8A;
  font-size: 1.3em;
  cursor: pointer;
}
#search_form button#search_button {
  background-color: none;
}

#OrdersBody #clear_search_button {
  top: 80px;
}
#OrdersBody #order_container {
  position: relative;
}
#OrdersBody .container {
  position: relative;
  margin-top: 80px;
}
#OrdersBody .container table {
  background-color: #F5FAFC;
  border-radius: 0 0 10px 10px;
  border: 2px solid #DCE1E3;
  margin: 0 auto;
}
#OrdersBody .container table tbody .attribute-row {
  background-color: #81B3D6;
  margin: 0;
}
#OrdersBody .container table tbody .attribute-row .empty-cell {
  background-color: #81B3D6;
  width: 30px;
}
#OrdersBody .container table tbody .attribute-row th {
  color: #272932;
  padding: 10px;
}
#OrdersBody .container table tbody tr {
  margin: 0;
}
#OrdersBody .container table tbody tr:nth-child(even) {
  background: #DCE1E3;
}
#OrdersBody .container table tbody tr td {
  text-align: center;
  padding: 5px 10px;
  margin: 0;
}
#OrdersBody .container table tbody tr .remove, #OrdersBody .container table tbody tr .open {
  width: 30px;
}
#OrdersBody .container table tbody tr .remove a, #OrdersBody .container table tbody tr .open a {
  margin: 0;
}

nav {
  height: 50px;
  display: -ms-flexbox;
  display: flex;
  background-color: #456D8A;
  justify-content: left;
  align-items: center;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 200;
}
nav a {
  margin-left: 30px;
  font-size: 1.2em;
  color: #F5FAFC;
  width: 130px;
  text-align: center;
}

.order_container {
  width: 70vw;
  margin: 80px auto;
}
.order_container .form-horizontal ::-webkit-input-placeholder {
  color: rgba(35, 35, 35, 0.5);
  font-size: 15px;
}
.order_container .form-horizontal ::-moz-placeholder {
  color: rgba(35, 35, 35, 0.5);
  font-size: 15px;
}
.order_container .form-horizontal :-ms-input-placeholder {
  color: rgba(35, 35, 35, 0.5);
  font-size: 15px;
}
.order_container .form-horizontal input:-moz-placeholder {
  color: rgba(35, 35, 35, 0.5);
  font-size: 15px;
}
.order_container .form-horizontal #form_general_info, .order_container .form-horizontal #form_pickup_info, .order_container .form-horizontal #form_delivery_info, .order_container .form-horizontal .form_section {
  margin-bottom: 50px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(6, 180px);
  grid-template-rows: repeat(2, auto);
}
.order_container .form-horizontal #form_general_info h4, .order_container .form-horizontal #form_pickup_info h4, .order_container .form-horizontal #form_delivery_info h4, .order_container .form-horizontal .form_section h4 {
  grid-column: 1/7;
  margin: 30px auto;
}
.order_container .form-horizontal #form_general_info .form-group, .order_container .form-horizontal #form_pickup_info .form-group, .order_container .form-horizontal #form_delivery_info .form-group, .order_container .form-horizontal .form_section .form-group {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1, 180px);
  width: 70%;
  border-bottom: solid 1px #81B3D6;
}
.order_container .form-horizontal #form_general_info .form-group label, .order_container .form-horizontal #form_pickup_info .form-group label, .order_container .form-horizontal #form_delivery_info .form-group label, .order_container .form-horizontal .form_section .form-group label {
  color: #456D8A;
}
.order_container .form-horizontal #form_general_info .form-group .input, .order_container .form-horizontal #form_pickup_info .form-group .input, .order_container .form-horizontal #form_delivery_info .form-group .input, .order_container .form-horizontal .form_section .form-group .input {
  border: none;
  font-size: 16px;
  width: 70%;
  height: 48px;
}
.order_container .form-horizontal #form_general_info .form-group select, .order_container .form-horizontal #form_pickup_info .form-group select, .order_container .form-horizontal #form_delivery_info .form-group select, .order_container .form-horizontal .form_section .form-group select {
  border: none;
  width: 100px;
  font-size: 1em;
}
.order_container .form-horizontal .submit_button {
  width: 120px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
}
.order_container .form-horizontal .submit_button .btn {
  border: none;
  background-color: #81B3D6;
  height: 40px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  font-size: 1em;
  color: #F5FAFC;
  top: 10px;
  cursor: pointer;
}

.table_container {
  width: 300px;
  margin: 80px auto;
}
.table_container .form_container ::-webkit-input-placeholder {
  color: rgba(35, 35, 35, 0.5);
  font-size: 15px;
}
.table_container .form_container ::-moz-placeholder {
  color: rgba(35, 35, 35, 0.5);
  font-size: 15px;
}
.table_container .form_container :-ms-input-placeholder {
  color: rgba(35, 35, 35, 0.5);
  font-size: 15px;
}
.table_container .form_container input:-moz-placeholder {
  color: rgba(35, 35, 35, 0.5);
  font-size: 15px;
}
.table_container .form_container .form-horizontal .form-group {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1, 180px);
  width: 100%;
  border-bottom: solid 1px #81B3D6;
}
.table_container .form_container .form-horizontal .form-group label {
  color: #456D8A;
}
.table_container .form_container .form-horizontal .form-group .input {
  border: none;
  font-size: 16px;
  width: 70%;
  height: 48px;
}
.table_container .form_container .form-horizontal .form-group select {
  border: none;
  width: 100px;
  font-size: 1em;
}
.table_container .form_container .form-horizontal .submit_button {
  width: 120px;
  margin: 30px auto;
  position: relative;
  cursor: pointer;
}
.table_container .form_container .form-horizontal .submit_button .btn {
  border: none;
  background-color: #81B3D6;
  height: 40px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  font-size: 1em;
  color: #F5FAFC;
  top: 10px;
  cursor: pointer;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F5FAFC;
  padding: 1rem 1.5rem;
  width: 20rem;
  height: 22rem;
  border-radius: 10px;
}
.modal .modal-content .form-horizontal {
  margin-top: 80px;
}
.modal .modal-content .form-horizontal .form-group {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(2, auto);
  border-bottom: solid 1px #81B3D6;
}
.modal .modal-content .form-horizontal .form-group label {
  color: #456D8A;
  margin-top: 15px;
  width: 50px;
}
.modal .modal-content .form-horizontal .form-group .input {
  border: none;
  font-size: 1em;
  background-color: #F5FAFC;
  height: 95%;
}
.modal .modal-content .form-horizontal .submit_button {
  width: 120px;
  margin: 30px auto;
  position: relative;
  cursor: pointer;
}
.modal .modal-content .form-horizontal .submit_button .btn {
  border: none;
  background-color: #81B3D6;
  height: 40px;
  width: 120px;
  border-radius: 10px;
  text-align: center;
  font-size: 1em;
  color: #F5FAFC;
  top: 10px;
  cursor: pointer;
}
.modal .modal-content .close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
}
.modal .modal-content .close-button:hover {
  transform: scale(1.2);
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.container {
  margin-top: 80px;
  margin-bottom: 50px;
}
.container table {
  background-color: #F5FAFC;
  border-radius: 0 0 10px 10px;
  border: 2px solid #DCE1E3;
  margin: 0 auto;
}
.container table tbody .attribute-row {
  background-color: #81B3D6;
  margin: 0;
}
.container table tbody .attribute-row .empty-cell {
  background-color: #81B3D6;
  width: 30px;
}
.container table tbody .attribute-row th {
  color: #272932;
  padding: 10px;
}
.container table tbody tr {
  margin: 0;
}
.container table tbody tr:nth-child(even) {
  background: #DCE1E3;
}
.container table tbody tr td {
  text-align: center;
  padding: 5px 10px;
  margin: 0;
}
.container table tbody tr .remove, .container table tbody tr .open {
  width: 30px;
}
.container table tbody tr .remove a, .container table tbody tr .open a {
  margin: 0;
}

#assignedMsg {
  margin-top: 150px;
}

h4,
h2 {
  text-align: center;
}

html,
body {
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
  color: #272932;
}

a {
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  color: #272932;
}

th {
  font-family: "Source Sans Pro", sans-serif;
  color: #272932;
}

button {
  cursor: pointer;
  border-radius: 25px;
  border: none;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #b7c4cc;
}

button:focus {
  outline: 0;
}

.confirmBtn {
  font-size: 15pt;
  width: 100px;
  height: 40px;
}

input[type=radio] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radioContainer {
  display: block;
  position: relative;
  padding-left: 50px;
  margin: 0px 0px 15px 20px;
  line-height: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px #81b3d6 solid;
}

.radioContainer:hover input ~ .checkmark {
  background-color: #b7c4cc;
}

.radioContainer input:checked ~ .checkmark {
  background-color: transparent;
  border: 2px #81b3d6 solid;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radioContainer input:checked ~ .checkmark:after {
  display: block;
}

.radioContainer .checkmark:after {
  top: 6px;
  left: 6px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #81b3d6;
}

.validationError {
  border: #db162f 3px solid !important;
}

.dontDisplay {
  display: none;
}

.active {
  background: rgba(39, 41, 50, 0.4);
  color: #f5fafc;
  padding: 13px 0;
}

h3 {
  font-size: 1.4em;
}

#search_form {
  position: absolute;
  left: 350px;
  top: 0px;
  color: #456d8a;
  font-size: 1.3em;
  cursor: pointer;
}
#search_form button#search_button {
  background-color: transparent;
}

.action_link {
  z-index: 1000;
  position: absolute;
  left: 200px;
  color: #456d8a;
  font-size: 1.3em;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
