$light-grey-color:#F5FAFC;
$light-blue-color: #81B3D6;
$bright_blue-color: #274AAE;
$dark_blue-color: #456D8A;

@mixin flexbox {
    display: -ms-flexbox;
    display: flex;
  }
    

  @mixin title-font{
    font-family: 'Source Sans Pro', sans-serif;
    color: #272932;
  }
  @mixin paragraph-font{
    font-family: 'Nunito', sans-serif;
    color: #272932;
  }

  @mixin table {
    
  }
  

nav{
    height:70px;
    @include flexbox();
    background-color: $dark_blue-color;
    justify-content: left;
    align-items: center;

    a{
     margin-left: 30px;
     font-size: 1.2em;
    color: $light-grey-color;

    }
}