@mixin flexbox {
  display: -ms-flexbox;
  display: flex;
}
@mixin ligt-blue-color {
  background-color: #81b3d6;
}

@mixin title-font {
  font-family: "Source Sans Pro", sans-serif;
  color: #272932;
}
@mixin paragraph-font {
  font-family: "Nunito", sans-serif;
  color: #272932;
  color: #272932;
}

@mixin table {
}

nav {
  height: 70px;
  @include flexbox();
  @include ligt-blue-color();
  justify-content: left;
  align-items: center;
  a {
    margin-left: 30px;
    font-size: 1.2em;
  }
}
