$grey-color: #DCE1E3;
$light-grey-color:#F5FAFC;
$bright_blue-color: #274AAE;
$dark_blue-color: #456D8A;
$light-blue-color: #81B3D6;
$dark-grey-color:  #272932;

@mixin even(){
  &:nth-child(even) {
    @content;
  }
}

 @mixin flexbox() {
    display: -ms-grid;
    display: flex;
  }
  #search_form{
    position: absolute;
    left: 350px;
    top: 80px;
    color: $dark_blue-color;
    font-size: 1.3em;
    cursor: pointer;
    button#search_button{
      background-color: none;
    }
  
     }
  
#OrdersBody{
  #clear_search_button{
    top: 80px;
  }
  #order_container{
    position: relative;
    
   
  }
   .container{
    position: relative;
    margin-top: 80px;  
   
    
     table{   
      background-color: $light-grey-color;
      border-radius: 0 0 10px 10px;
      border: 2px solid $grey-color;
      margin: 0 auto;
       tbody{
        
        .attribute-row{
          background-color: $light-blue-color;
          margin: 0;
          .empty-cell{
            background-color: $light-blue-color;
            width: 30px;
          }
          th{
            color:$dark-grey-color;            
            padding: 10px;
            
          }

        }
         tr{
          margin: 0;
          @include even()
          {
            background:$grey-color;
          }
           td{
             text-align: center;
             padding: 5px 10px;
             margin: 0;
             
           }
           .remove, .open{
             width: 30px;
            
             a{
               margin: 0;
             }
           }
           
           

         }
        
       }
     }
   }
        
   
}