.container{
    
    margin-top: 80px;  
    margin-bottom: 50px;
    
     table{   
      background-color: $light-grey-color;
      border-radius: 0 0 10px 10px;
      border: 2px solid $grey-color;
      margin: 0 auto;
       tbody{
        
        .attribute-row{
          background-color: $light-blue-color;
          margin: 0;
          .empty-cell{
            background-color: $light-blue-color;
            width: 30px;
          }
          th{
            color:$dark-grey-color;            
            padding: 10px;
            
          }

        }
         tr{
          margin: 0;
          @include even()
          {
            background:$grey-color;
          }
           td{
             text-align: center;
             padding: 5px 10px;
             margin: 0;
             
           }
           .remove, .open{
             width: 30px;
            
             a{
               margin: 0;
             }
           }
           
           

         }
        
       }
     }
   }