@import "dashboard";
@import "orders";
@import "header";
@import "edit-order";


$grey-color: #DCE1E3;
$light-grey-color:#F5FAFC;
$bright_blue-color: #274AAE;
$dark_blue-color: #456D8A;

@mixin title-font{
  font-family: 'Source Sans Pro', sans-serif;
  color: #272932;
}
@mixin paragraph-font{
  font-family: 'Nunito', sans-serif;
  color: #272932;
}
h4, h2{
  text-align: center;
}
html,
body {
  margin: 0 auto;
  @include paragraph-font()
;
}
a{
  text-decoration: none; 
  @include title_font();
 
}
.action_link{
  position: absolute;
  left: 200px;
  color: $dark_blue-color;
  font-size: 1.3em;

   }
th{
  @include title-font();
}
.validationError {
  border: red 1px solid;
}
.dontDisplay {
  display: none;
}
.active{
  background: rgb(39,41,50,0.4);
  color: $light-grey-color;
  padding: 23px 0 23px 0;
 
 
  }
  h3{
    font-size: 1.4em;
  }
